@import "./variables.scss";

* {
	box-sizing: border-box;
}
html {
	font-size: 14px;

	body {
		width: 100vw;
		height: 100vh;
		margin: 0;
		padding: 0;
		overflow: hidden;
		font-style: normal;
		/* variable */
		background: $background;
	}
}
